PORT=3000
BOT_NAME=Nexus
BOT_VERSION=1.1.360.187.12
BOT_OWNER=258867983175
OFFICIAL_WA_NUMBER=258867983175
DEFAULT_LANG=pt
TIMEZONE=Africa/Maputo
MENU_IMAGE_URL=https://images6.alphacoders.com/133/1336715.jpeg
PREFERRED_PAIRING_PHONE=
CODE_TTL_SEC=60
